<strong>Olá {{ provider }} </strong>
<p>Foi criado uma nova encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ recipient }} </strong><br />
  <strong>Produto: {{ product}} </strong><br />

  <br />
  <small>
    Não esqueça de realizar a entrega.
  </small>
</p>
